---
import { Icon } from "astro-icon/components";

const { title, description, icon } = Astro.props;
---

<div
  class="flex flex-col gap-4 bg-[#121220] p-8 rounded-3xl border-2 border-[#ffffff1a]"
>
  <Icon name={icon} class="p-2 aspect-square size-10 rounded-xl bg-[#22242f]" />
  <h3>{title}</h3>
  <p class="text-white/70 text-md">{description}</p>
</div>
