---
import HeaderLink from "./HeaderLink.astro";
import YepCodeLogo from "../../public/logo.svg";
import { Image } from "astro:assets";
---

<header class="sticky top-0 z-999 bg-[#000012] text-white text-base">
  <nav class="w-3/6 m-auto flex justify-between items-center py-6 px-8">
    <div class="flex gap-8">
      <a href="/"><Image src={YepCodeLogo} alt="YepCode logo" /></a>
      <div>
        <HeaderLink href="/product">Product</HeaderLink>
        <HeaderLink href="/pricing">Pricing</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/support">Support</HeaderLink>
      </div>
    </div>
    <div>
      <a
        class="px-4 py-3 hover:bg-[#121220] border-2 border-[#ffffff1a] rounded-md"
        href="https://cloud.yepcode.io"
        target="_blank"
      >
        Log in <span class="mx-2 text-[#ffffff1a]">|</span> Sign up
      </a>
    </div>
  </nav>
</header>
