---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class:list={["px-4 py-2 hover:bg-[#121220]", className]}
  {...props}
>
  <slot />
</a>
