---
import HeaderLink from "./HeaderLink.astro";
import YepCodeLogo from "../../public/logo.svg";
import { Image } from "astro:assets";
import DropdownNav from "./DropdownNav.astro";
import { Icon } from "astro-icon/components";
---

<header class="sticky top-0 z-999 bg-[#000012] text-white text-base">
  <nav
    class="lg:max-w-screen-xl md:max-w-screen-md mx-auto flex justify-between items-center py-6 px-4"
  >
    <div class="flex gap-4 items-center">
      <a class="flex-shrink-0" href="/"
        ><Image src={YepCodeLogo} alt="YepCode logo" /></a
      >
      <div class="hidden items-center lg:flex">
        <DropdownNav
          title="Product"
          links={[
            { href: "/docs", label: "Docs", icon: "docs" },
            {
              href: "https://yepcode.io/run",
              label: "YepCode Run",
              icon: "lightning-bolt",
              new: true,
            },
            {
              href: "https://github.com/yepcode/mcp-server-js/",
              label: "MCP Server",
              icon: "server",
              new: true,
            },
            {
              href: "https://yepcode.io/recipes",
              label: "Recipes",
              icon: "folder",
            },
            {
              href: "/features/forms",
              label: "Forms",
              icon: "form",
            },
            {
              href: "/features/landings",
              label: "Landings",
              icon: "landing",
            },
            {
              href: "/features/storeflow",
              label: "Storeflow",
              icon: "upload",
            },
          ]}
        />
        <HeaderLink href="/pricing">Pricing</HeaderLink>
        <DropdownNav
          title="Resources"
          links={[
            { href: "/blog", label: "Blog", icon: "blog" },
            {
              href: "/video-pills",
              label: "Video pills",
              icon: "play",
            },
          ]}
        />
        <DropdownNav
          title="Support"
          links={[
            {
              href: "https://feedback.yepcode.io/",
              label: "Feedback",
              icon: "messages",
            },
            {
              href: "/contact",
              label: "Contact us",
              icon: "paper-airplane",
            },
            {
              href: "/book-a-demo",
              label: "Book a demo",
              icon: "computer",
            },
            {
              href: "/faqs",
              label: "FAQs",
              icon: "question-mark",
            },
            {
              href: "https://community.yepcode.io/",
              label: "Community",
              icon: "discord",
            },
            {
              href: "https://stats.uptimerobot.com/jM9Z9UYZ73",
              label: "Status",
              icon: "chart",
            },
          ]}
        />
      </div>
    </div>
    <div class="flex-shrink-0 flex items-center">
      <button
        type="button"
        class="lg:hidden p-4 hover:bg-[#121220] border-2 border-[#ffffff1a] rounded-xl inline-flex justify-center items-center mr-4 cursor-pointer transition-colors duration-350 ease-in-out"
      >
        <Icon name="menu" />
      </button>
      <a
        class="px-4 py-3 hover:bg-[#121220] border-2 border-[#ffffff1a] rounded-xl inline-flex justify-center items-center"
        href="https://cloud.yepcode.io"
        target="_blank"
      >
        Log in <span class="mx-2 text-[#ffffff1a]">|</span> Sign up
      </a>
    </div>
  </nav>
</header>
