---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const { href, class: className, ...props } = Astro.props;
---

<a
  href={href}
  class:list={[
    "px-5 py-3 hover:bg-[#121220] rounded-xl focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-[#11c0eb] transition-colors duration-300 ease-in-out",
    className,
  ]}
  {...props}
>
  <slot />
</a>
