---
import type { ImageMetadata } from "astro";

interface Props {
  images: {
    src: string;
    alt: string;
  }[];
  class?: string;
  variant?: "primary" | "secondary";
}

const { images, class: className, variant = "primary" } = Astro.props;
---

<div
  class:list={[
    "logos group relative overflow-hidden whitespace-nowrap py-4 [mask-image:_linear-gradient(to_right,_transparent_0,_white_128px,white_calc(100%-128px),_transparent_100%)]",
    className,
  ]}
>
  <div
    class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max"
  >
    {
      images.map((image) => (
        <img
          class={`mx-8 inline h-16 ${
            variant === "primary"
              ? "invert brightness-0 opacity-80"
              : "p-1 bg-white rounded-3xl"
          }`}
          src={image.src}
          alt={image.alt}
        />
      ))
    }
  </div>
  <div
    class="animate-slide-left-infinite group-hover:animation-pause inline-block w-max"
  >
    {
      images.map((image) => (
        <img
          class={`mx-8 inline h-16 ${
            variant === "primary"
              ? "invert brightness-0 opacity-80"
              : "p-1 bg-white rounded-3xl"
          }`}
          src={image.src}
          alt={image.alt}
        />
      ))
    }
  </div>
</div>
